<template>
    <div>
        <div class="title-home-menu">정산 리스트</div>
        <div style="text-align: right; width: 90%">
            <el-button type="primary" icon="el-icon-circle-plus-outline" @click="moveCreate(id)">등록</el-button>
            <br/>
            <br/>
        </div>
        <div>
            <div v-if="list != null">
                <el-table
                    :data="list"
                    style="width: 90%"
                >
                    <el-table-column
                        align="center"
                        prop="id"
                        label="No."
                        >
                    </el-table-column>
                    <el-table-column
                        align="center"
                        prop="dateCreateYear"
                        label="등록년"
                        >
                    </el-table-column>
                    <el-table-column
                        align="center"
                        prop="dateCreateMonth"
                        label="등록월"
                       >
                    </el-table-column>
                    <el-table-column
                        align="center"
                        prop="calculateStatus"
                        label="정산 상태"
                       >
                    </el-table-column>
                    <el-table-column
                        align="center"
                        >
                        <template slot-scope="scope">
                            <el-button size="Small" type="info" @click.native="moveDetail(list[scope.$index].id)">상세보기</el-button>
                        </template>
                    </el-table-column>

                </el-table>
                <div style="width: 90%">
                <br />
                <br />
                <el-pagination
                    background
                    small
                    layout="prev, pager, next"
                    :total="totalItemCount"
                    :current-page="pageNum"
                    @current-change="setPage"
                >
                </el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
#storeMemberTitle{
    margin: 30px 10px;
}
.el-row{
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            list: [],
            id: null,
            pageNum: 1,
            totalItemCount: 0,
        }
    },
    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        async getList() {
            let payload = {
                storeMemberId: this.id,
                pageNum: this.pageNum
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$calculateHistoryConstants.DO_LIST_PAGING, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate(id) {
            let linkBaseUrl = '/home-menu/calculate/create/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveDetail(id) {
            let linkBaseUrl = '/home-menu/calculate/detail/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CALCULATE_LIST')
    },

}
</script>
