<template>
    <div>
        <div class="title-home-menu">정산 등록</div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="등록년" prop="dateCreateYear">
                        <el-input v-model="ruleForm.dateCreateYear"
                                  oninput="this.value = this.value.replace(/[^0-9.]/g, '')" maxlength="4"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="등록월" prop="dateCreateMonth">
                        <el-input v-model="ruleForm.dateCreateMonth"
                                  oninput="this.value = this.value.replace(/[^0-9.]/g, '')" maxlength="2"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="수수료(%)" prop="feesRate">
                        <el-input v-model="ruleForm.feesRate" oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
                                  maxlength="5"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="0">
                <el-col :span="2" :offset="3">
                    <el-form-item>
                        <el-button type="primary" class="size-quarter" @click="doSetData()">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>
<style>
#storeMemberTitle {
    margin: 30px 10px;
}

.el-row {
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    validate({params}) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            ruleForm: {
                dateCreateYear: '',
                dateCreateMonth: '',
                feesRate: ''
            },
            rules: {
                dateCreateYear: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 4, max: 4, message: 'XXXX', trigger: 'blur'}
                ],
                dateCreateMonth: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 1, max: 2, message: 'XX.', trigger: 'blur'},
                    {validator: this.validateCreateMonth, trigger: 'blur'}
                ],
                feesRate: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {message: '수수료율을 입력해주세요', trigger: 'blur'},
                    {pattern: /^\d+(\.\d{1,2})?$/, message: '수수료율은 소숫점 2자리까지 입력 가능합니다.', trigger: 'blur'},
                    {validator: this.validateFeesRate, trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                id: this.id,
                data: {
                    dateCreateYear: Number(this.ruleForm.dateCreateYear),
                    dateCreateMonth: Number(this.ruleForm.dateCreateMonth),
                    feesRate: Number(this.ruleForm.feesRate),
                }
            }
            console.log(payload)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$calculateHistoryConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/home-menu/calculate/list/${this.id}`)
                })
                .catch(err => {
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        isNumber(text) {
            return !isNaN(Number(text))
        },
        validateFeesRate(rule, value, callback) {
            if (parseFloat(value) >= 100) {
                callback(new Error('수수료율은 100보다 작아야 합니다.'));
            } else {
                callback();
            }
        },
        validateCreateMonth(rule, value, callback) {
            if (parseFloat(value) > 12) {
                callback(new Error('1월부터 12월까지 입력 가능합니다.'));
            } else {
                callback();
            }
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CALCULATE_ADD')
    },
}
</script>
