<template>
    <div>
        <div class="title-home-menu">수수료율 등록</div>
        <div>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="수수료율 [%]" prop="feesRate">
                            <el-input v-model="ruleForm.feesRate"
                                      @keyup.native="ruleForm.feesRate = chgFloatFormat(ruleForm.feesRate)"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :offset="2">
                        <el-form-item>
                            <el-button type="primary" class="size-quarter" @click="doSetData()">등록</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',
    data() {
        let validateFreesRate = (rule, value, callback) => {
            let num = Number(value);
            if (value === '') {
                callback(new Error('이 값은 필수입니다.'));
            } else if (num === 0) {
                callback(new Error('0 보다 커야 합니다.'));
            } else {
                callback();
            }
        };
        return {
            ruleForm: {
                feesRate: "0",
            },
            rules: {
                feesRate: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { validator: validateFreesRate, trigger: 'blur' }
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },

        setData() {
            let payload = {
                feesRate: this.ruleForm.feesRate,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$feesRateConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/home-menu/fees-rate/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

        chgFloatFormat(val) {
            let str = val;
            //소수점을 제외한 문자열 모두 제거
            str = str.replace(/[^\.0-9]/g, '');
            let idx = str.indexOf('.');
            if (idx < 0) {
                if(str.length >= 2)
                    str = str.substr(0,2)
                console.log("idx =0 str :" + str);
                return str;
            } else if (idx > 0) {
                let tmpStr = str.substr(idx + 1);
                if (tmpStr.length >= 1) {
                    if (tmpStr.indexOf('.') >= 0) {
                        tmpStr = tmpStr.replace(/[^\d]+/g, '');
                        str = str.substr(0, idx + 1) + tmpStr;
                    }
                }
                if (tmpStr.length >= 2) {
                    str = str.substr(0, idx + 3);
                }
                if(idx>2){
                    str = str.substr(0, 2)+'.'+ tmpStr;
                }
            } else if (idx === 0) {
                str = '0' + str;
            }

            return str;
        },
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'FEES_RATE_ADD')
    },
}
</script>
