<template>
    <div>
        <div class="title-home-menu">수수료율 리스트</div>
        <div style="text-align: right; width: 90%;">
            <el-button type="primary" icon="el-icon-circle-plus-outline" @click.native="moveCreate">등록</el-button>
            <br/>
            <br/>
        </div>
        <div>
            <el-table
                :data="list" style="width: 90%; margin-bottom: 100px">
                <el-table-column
                    label="No"
                    type="index">
                </el-table-column>
                <el-table-column
                    label="최근 수정 일시"
                    prop="dateChange">
                </el-table-column>
                <el-table-column
                    label="수수료율[%]"
                    prop="feesRate">
                </el-table-column>
                <el-table-column
                    align="right">
                    <template slot-scope="scope">
                        <el-button
                            size="Small"
                            type="info"
                            @click="showModal(scope.row.id, scope.row.feesRate)">수정

                        </el-button>
                        <el-button
                            size="Small"
                            type="danger"
                            @click="delData(scope.row.id)">삭제
                        </el-button>
                    </template>

                </el-table-column>
            </el-table>
        </div>
        <div>
            <modal name="feesRateCreateModal"
                   :adaptive="true"
                   :clickToClose=false
                   :width="400"
                   height="auto">
                <div style="margin: 10px">
                    <div class="title-home-menu">수수료율 수정</div>
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px">
                        <el-form-item label="수수료율 [%]" prop="feesRate">
                            <el-input v-model="ruleForm.feesRate"
                                      @keyup.native="ruleForm.feesRate = chgFloatFormat(ruleForm.feesRate)"
                            ></el-input>
                        </el-form-item>
                        <br/><br/>
                        <div style="text-align: center">
                            <el-button type="primary" @click="modalEdit()">수정</el-button>
                            <el-button type="primary" @click="modalClose()">취소</el-button>
                        </div>
                    </el-form>
                </div>
            </modal>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',
    // "id": 2,
    // "dateChange": "2023-10-24 18:0",
    // "feesRate": 1
    data() {
        let validateFreesRate = (rule, value, callback) => {
            let num = Number(value);
            if (value === '') {
                callback(new Error('이 값은 필수입니다.'));
            } else if (num === 0) {
                callback(new Error('0 보다 커야 합니다.'));
            } else {
                callback();
            }
        };

        return {
            list: [{
                id: 1,
                dateChange: '2023-07',
                feesRate: 0.1
            },],
            totalItemCount: 0,
            feesRateModalView: false,
            ruleForm: {
                id: 0,
                feesRate: "0",
            },
            rules: {
                feesRate: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {validator: validateFreesRate, trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        delData(id) {
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$feesRateConstants.DO_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$feesRateConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        putData() {
            let payload = {
                id: this.ruleForm.id,
                data: {
                    feesRate: this.ruleForm.feesRate,
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$feesRateConstants.DO_UPDATE, payload)
                .then((res) => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.getList()
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })

        },

        showModal(id, feesRate) {
            this.ruleForm.id = id
            this.ruleForm.feesRate = feesRate
            this.$modal.show('feesRateCreateModal')
        },
        moveCreate() {
            let linkBaseUrl = '/home-menu/fees-rate/create'
            this.$router.push(`${linkBaseUrl}`)
        },
        modalEdit() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                    this.$modal.hide('feesRateCreateModal')
                } else {
                    return false
                }
            })
        },
        modalClose() {
            this.$modal.hide('feesRateCreateModal')
        },

        chgFloatFormat(val) {
            let str = val;
            //소수점을 제외한 문자열 모두 제거
            str = str.replace(/[^\.0-9]/g, '');
            let idx = str.indexOf('.');
            if (idx < 0) {
                if (str.length >= 2)
                    str = str.substr(0, 2)
                console.log("idx =0 str :" + str);
                return str;
            } else if (idx > 0) {
                var tmpStr = str.substr(idx + 1);
                if (tmpStr.length >= 1) {
                    if (tmpStr.indexOf('.') >= 0) {
                        tmpStr = tmpStr.replace(/[^\d]+/g, '');
                        str = str.substr(0, idx + 1) + tmpStr;
                    }
                }
                if (tmpStr.length >= 2) {
                    str = str.substr(0, idx + 3);
                }
                if (idx > 2) {
                    str = str.substr(0, 2) + '.' + tmpStr;
                }
            } else if (idx === 0) {
                str = '0' + str;
            }

            return str;
        },

    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'FEES_RATE_LIST')
    },
    created() {
        this.getList()
    }
}
</script>
<style>

.black-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.white-bg {
    width: 100%;
    background: white;
    border-radius: 8px;
    padding: 20px 0;
}
</style>

