<template>
    <div>
        <div class="title-home-menu"> 가맹점 등록</div>
        <div>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="아이디" prop="username">
                            <el-input v-model="ruleForm.username"
                                      :disabled="this.existsCheckUsername.isChecked"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-button type="primary" @click="doCheckUsername">{{ existsCheckUsername.btnText }}</el-button>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="비밀번호" prop="password">
                            <el-input v-model="ruleForm.password" show-password></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="비밀번호 확인" prop="passwordRe">
                            <el-input v-model="ruleForm.passwordRe" show-password></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="대표자명" prop="name">
                            <el-input v-model="ruleForm.name"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="연락처" prop="phoneNumber">
                            <el-input v-model="ruleForm.phoneNumber" v-mask="'###-####-####'"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="사업자 등록번호" prop="businessNumber">
                            <el-input v-model="ruleForm.businessNumber" v-mask="'###-##-#####'"
                                      :disabled="this.existsCheckBusiness.isChecked"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-button type="primary" @click="doCheckBusinessNumber">{{
                            existsCheckBusiness.btnText
                        }}
                    </el-button>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="가맹점 명" prop="storeName">
                            <el-input v-model="ruleForm.storeName"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="주소" prop="address">
                            <el-input v-model="ruleForm.address"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="25">
                    <el-col :offset="2">
                        <el-form-item>
                            <el-button type="primary" class="size-quarter" @click="doSetData()">등록</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<style>

.el-row {
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',

    // "address": "시흥시15A123456789123456789123456789123456789123456789123456789123456789",
    // "businessNumber": "000-15-12345",
    // "memberGroup": "ROLE_STORE",
    // "name": "홍길동",
    // "password": "123456789",
    // "passwordRe": "123456789",
    // "phoneNumber": "010-1234-1215",
    // "storeName": "시흥점 피트니스",
    // "username": "asd1215"

    data() {
        var validatePasswordRe = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('이 값은 필수입니다.'));
            } else if (value !== this.ruleForm.password) {
                callback(new Error('비밀번호가 일치하지 않습니다.'));
            } else {
                callback();
            }
        };
        return {
            ruleForm: {
                memberGroup: 'ROLE_STORE',
                username: '',
                password: '',
                passwordRe: '',
                name: '',
                phoneNumber: '',
                businessNumber: '',
                storeName: '',
                address: '',
            },

            existsCheckBusiness: {
                isChecked: false,
                btnText: '중복 확인',
            },
            existsCheckUsername: {
                isChecked: false,
                btnText: '중복 확인',
            },

            rules: {
                username: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 5, max: 30, message: '5~30자 내로 입력해주세요.', trigger: 'blur'},
                    {pattern: /[a-zA-Z]{1}[a-zA-Z0-9]{4,19}$/, message: '유효한 아이디 형식이 아닙니다.', trigger: 'blur'}
                ],
                password: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 8, max: 20, message: '8~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                passwordRe: [
                    {validator: validatePasswordRe, required: true, trigger: 'blur'},
                ],
                name: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 2, max: 20, message: '2~20 내로 입력해주세요.', trigger: 'blur'}
                ],
                phoneNumber: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {
                        min: 13,
                        max: 13,
                        pattern: /[0-9]{3}-[0-9]{4}-[0-9]{4}$/,
                        message: '유요한 연락처 형식이 아닙니다. [###-####-####]',
                        trigger: 'blur'
                    }
                ],
                businessNumber: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {
                        min: 12,
                        max: 12,
                        pattern: /[0-9]{3}-[0-9]{2}-[0-9]{5}$/,
                        message: '유요한 사업자등록번호 형식이 아닙니다. [###-##-#####]',
                        trigger: 'blur'
                    }
                ],
                storeName: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 2, max: 50, message: '2~50자 내로 입력해주세요.', trigger: 'blur'}
                ],
                address: [
                    {required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {min: 2, max: 100, message: '2~100자 내로 입력해주세요.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    if (this.existsCheckUsername.isChecked === false) {
                        alert("아이디 중복확인 부탁드립니다.")
                    }
                    if (this.existsCheckBusiness.isChecked === false) {
                        alert("사업자등록번호 중복확인 부탁드립니다.")
                    }
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                memberGroup: this.ruleForm.memberGroup,
                username: this.ruleForm.username,
                password: this.ruleForm.password,
                passwordRe: this.ruleForm.passwordRe,
                name: this.ruleForm.name,
                phoneNumber: this.ruleForm.phoneNumber,
                businessNumber: this.ruleForm.businessNumber,
                storeName: this.ruleForm.storeName,
                address: this.ruleForm.address
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/home-menu/member/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        doCheckUsername() {
            if (this.existsCheckUsername.isChecked) {
                this.existsCheckUsername.isChecked = false;
                this.existsCheckUsername.btnText = this.existsCheckUsername.isChecked ? '재확인' : '중복 확인';
            } else {
                let formName = 'ruleForm'
                this.$refs[formName].validateField('username', errValid => {
                    if (!errValid) {
                        this.checkUsername()
                    } else {
                        return false
                    }
                })
            }
        },
        checkUsername() {
            let payload = {
                username: this.ruleForm.username
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_CHECK_USERNAME, payload)
                .then(res => {
                    this.existsCheckUsername.isChecked = res.data.data.checkResult
                    this.existsCheckUsername.btnText = this.existsCheckUsername.isChecked ? '재확인' : '중복 확인';
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    if (!this.existsCheckUsername.isChecked) {
                        alert("이미 아이디가 존재합니다.")
                    } else {
                        alert("사용 가능한 아이디 입니다.")
                    }
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })

        },
        doCheckBusinessNumber() {
            if (this.existsCheckBusiness.isChecked) {
                this.existsCheckBusiness.isChecked = false;
                this.existsCheckBusiness.btnText = this.existsCheckBusiness.isChecked ? '재확인' : '중복 확인';
            } else {
                let formName = 'ruleForm'
                this.$refs[formName].validateField('businessNumber', errValid => {
                    if (!errValid) {
                        this.checkBusinessNumber()
                    } else {
                        return false
                    }
                })
            }
        },
        checkBusinessNumber() {
            let payload = {
                businessNumber: this.ruleForm.businessNumber
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_CHECK_BUSINESS_NUMBER, payload)
                .then(res => {
                    this.existsCheckBusiness.isChecked = res.data.data.checkResult
                    this.existsCheckBusiness.btnText = this.existsCheckBusiness.isChecked ? '재확인' : '중복 확인';
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    if (!this.existsCheckBusiness.isChecked) {
                        alert("이미 사업자등록번호가 존재합니다.")
                    } else {
                        alert("사용 가능한 사업자등록번호 입니다.")
                    }
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })

        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CUSTOMER_ADD')
    },
}
</script>
