<template>
    <div>
        <div class="title-home-menu"> 가맹점 리스트</div>
        <el-row :gutter="20">
            <el-col :span="19" :offset="1">
                <div>
                    <el-switch
                        style="display: block"
                        v-model="isDelStoreShow"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                        active-text="전체 가맹점"
                        inactive-text="운영 가맹점">
                    </el-switch>
                </div>
            </el-col>
            <el-col :span="4">
                <div>
                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click.native="moveCreate">등록
                    </el-button>
                </div>
            </el-col>
        </el-row>
        <br/>
        <div style="text-align: right; width: 90%">
        </div>

        <div>
            <div v-if="isDelStoreShow">
                <el-table
                    :data='list.filter(data => !this.search || data.username.toLowerCase().includes(this.search.toLowerCase()))'
                    style="width: 90%"
                    :row-class-name="tableRowClassName"
                >
                    <el-table-column
                        label="No"
                        type="index">
                    </el-table-column>
                    <el-table-column
                        label="DateCreate"
                        prop="dateCreate">
                    </el-table-column>
                    <el-table-column
                        label="UserName"
                        prop="username">
                    </el-table-column>
                    <el-table-column
                        label="StoreName"
                        prop="storeName">
                    </el-table-column>
                    <el-table-column
                        label="Address"
                        prop="address">
                    </el-table-column>

                    <el-table-column
                        align="right">
                        <template slot="header" slot-scope="scope">
                            <el-input
                                v-model="search"
                                size="mini"
                                placeholder="UserName to search"/>
                        </template>
                        <template slot-scope="scope">
                            <el-button v-if="scope.row.isEnabled === true"
                                       size="Small"
                                       type="info"
                                       @click="moveDetail(scope.row.id)">상세보기
                            </el-button>
                            <el-button v-if="scope.row.isEnabled === true && scope.row.username !== 'superadmin'"
                                       size="Small"
                                       type="danger"
                                       @click="delData(scope.row.id)">삭제
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div v-else>
                <el-table
                    :data='list.filter(data => !this.search || data.username.toLowerCase().includes(this.search.toLowerCase())).filter(data=> data.isEnabled === true)'
                    style="width: 90%"
                    :row-class-name="tableRowClassName"
                >
                    <el-table-column
                        label="No"
                        type="index">
                    </el-table-column>
                    <el-table-column
                        label="DateCreate"
                        prop="dateCreate">
                    </el-table-column>
                    <el-table-column
                        label="UserName"
                        prop="username">
                    </el-table-column>
                    <el-table-column
                        label="StoreName"
                        prop="storeName">
                    </el-table-column>
                    <el-table-column
                        label="Address"
                        prop="address">
                    </el-table-column>

                    <el-table-column
                        align="right">
                        <template slot="header" slot-scope="scope">
                            <el-input
                                v-model="search"
                                size="mini"
                                placeholder="UserName to search"/>
                        </template>
                        <template slot-scope="scope">
                            <el-button v-if="scope.row.isEnabled === true"
                                       size="Small"
                                       type="info"
                                       @click="moveDetail(scope.row.id)">상세보기
                            </el-button>
                            <el-button v-if="scope.row.isEnabled === true && scope.row.username !== 'superadmin'"
                                       size="Small"
                                       type="danger"
                                       @click="delData(scope.row.id)">삭제
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <br/>
            <br/>
            <div style="width: 90%">
                <el-pagination
                    background
                    small
                    layout="prev, pager, next"
                    :total="totalItemCount"
                    :current-page="pageNum"
                    @current-change="setPage"
                >
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    // "id": 1,
    // "dateCreate": "2023-10-18 15:5",
    // "username": "superadmin",
    // "storeName": "JO GYM",
    // "address": "중앙동",
    // "isEnabled": true
    middleware: 'auth',
    data() {
        return {
            list: [],
            pageNum: 1,
            totalItemCount: 0,

            searchName: null,
            searchAge: null,
            searchYear: null,
            searchMonth: null,

            search: '',
            isDelStoreShow: true
        }
    },
    methods: {
        tableRowClassName({row, rowIndex}) {
            if (row.isEnabled === false) {
                return 'warning-row';
            }
            return '';
        },

        isTableInit(isDelStoreShow) {
            let str;
            if (isDelStoreShow) {

            } else {

            }
            return str;
        },

        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            let payload = {
                pageNum: this.pageNum,
                params: {
                    searchName: this.searchName,
                    searchAge: this.isNumber(this.searchAge) ? Number(this.searchAge) : null,
                    searchYear: this.isNumber(this.searchYear) ? Number(this.searchYear) : null,
                    searchMonth: this.isNumber(this.searchMonth) ? Number(this.searchMonth) : null
                }
            }

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_LIST_PAGING, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

        delData(id) {
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$memberConstants.DO_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },


        moveCreate() {
            let linkBaseUrl = '/home-menu/member/create'
            this.$router.push(`${linkBaseUrl}`)
        },

        moveDetail(id) {
            let linkBaseUrl = '/home-menu/member/detail/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },

        isNumber(text) {
            return !isNaN(Number(text))
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CUSTOMER_LIST')
    },
}
</script>

<style>
.el-table .warning-row {
    background: oldlace;
}
</style>
