<template>
    <div>
        <div style="font-size: xx-large">JoGYM - 관리자 페이지</div>
        <br/><br/><br/><br/>
        <div style="font-size: x-large">신규가맹점</div>
        <el-divider></el-divider>
        <el-carousel :interval="4000" type="card" height="500px">
            <el-carousel-item v-for="item in cardList" :key="item">
                <div style="padding-top:10px; padding-bottom: 10px; text-align: center; font-size: x-large">{{
                        item.title
                    }}
                </div>
                <div>
                    <el-image
                        style="width: 100%; height: 100%"
                        :src="item.img"
                        >
                    </el-image>
                </div>
            </el-carousel-item>
        </el-carousel>

        <div style="font-size: x-large">공지사항</div>
        <el-divider></el-divider>
        <el-table
            :data="tableData"
            style="width: 100%">
            <el-table-column
                prop="date"
                label="작성일"
                width="180">
            </el-table-column>
            <el-table-column
                prop="name"
                label="작성자"
                width="180">
            </el-table-column>
            <el-table-column
                prop="title"
                label="제목">
            </el-table-column>
        </el-table>
        <br/>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="pageNum"
            @current-change="setPage"
        >
        </el-pagination>
    </div>

</template>
<script>


export default {
    data() {
        return {
            pageNum: 1,
            totalItemCount: 0,
            cardList: [
                {
                    title: "가산디지털단지역점",
                    img: require("../assets/img/spoany75_20200203165014.jpg"),
                },
                {
                    title: "강동점",
                    img: require("../assets/img/sssaa.jpeg"),
                },
                {
                    title: "강남역2호점",
                    img: require("../assets/img/asdf.jpeg"),
                },
            ],
            tableData: [{
                date: '2016-05-03',
                name: '관리자',
                title: '[2016-05-03] 공지사항'
            }, {
                date: '2016-05-02',
                name: '관리자',
                title: '[2016-05-02] 공지사항'
            }, {
                date: '2016-05-04',
                name: '관리자',
                title: '[2016-05-04] 공지사항'
            }, {
                date: '2016-05-01',
                name: '관리자',
                title: '첫 게시판 생성'
            },
            ]

        }
    },
    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        async getList() {

        },

    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>

<style>
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
//background-color: #99a9bf; border-color: #252422;
}

.el-carousel__item:nth-child(2n+1) {
//background-color: #d3dce6;
}
</style>


