<template>
    <div>
        <div class="title-home-menu">정산 정보 상세보기</div>
        <div v-if="detailInfo != null">
            <el-form ref="ruleForm" label-width="auto">
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="등록년" prop="dateCreateYear">
                            <el-input v-model="detailInfo.dateCreateYear" disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="등록월" prop="dateCreateMonth">
                            <el-input v-model="detailInfo.dateCreateMonth" disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="수수료율" prop="feesRate">
                            <el-input v-model="detailInfo.feesRate" disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="총 매출금" prop="totalPrice">
                            <el-input :value="detailInfo.totalPrice | currency " disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="공제금" prop="minusPrice">
                            <el-input :value="detailInfo.minusPrice | currency" disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="정산금" prop="calculatePrice">
                            <el-input :value="detailInfo.calculatePrice | currency" disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="정산 상태" prop="calculateStatus">
                            <el-input v-model="detailInfo.calculateStatus" disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item>
                            <el-button type="primary" class="size-full" @click.native="moveEdit(id)">수정</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
        </el-form>
        </div>
    </div>
</template>
<style>

.el-row {
    margin-bottom: 10px;
}
</style>
<script>
import {ColorPicker} from "element-ui";
import {filter} from "core-js/internals/array-iteration";

export default {
    computed: {
        ColorPicker() {
            return ColorPicker
        }
    },
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            detailInfo: null
        }
    },
    methods: {
        filter,
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$calculateHistoryConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    console.log(this.detailInfo)
                    if (this.detailInfo.calculateStatus === 'ING') {
                        this.detailInfo.calculateStatus = '정산중'
                    } else {this.detailInfo.calculateStatus = '정산완료'}
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit(id){
            let linkBaseUrl = '/home-menu/calculate/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CALCULATE_DETAIL')
    },
}
</script>
