<template>
    <div>
        <div class="title-home-menu">정산 정보 수정</div>
        <div v-if="detailInfo != null">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="등록년" prop="dateCreateYear">
                            <el-input v-model="ruleForm.dateCreateYear" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" maxlength="4"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="등록월" prop="dateCreateMonth">
                            <el-input v-model="ruleForm.dateCreateMonth" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" maxlength="2"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="수수료율" prop="feesRate">
                            <el-input v-model="detailInfo.feesRate" disabled></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="총 매출금" prop="totalPrice">
                            <el-input v-model="ruleForm.totalPrice" oninput="this.value = this.value.replace(/[^0-9.]/g, '')"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="공제금" prop="minusPrice">
                            <el-input v-model="ruleForm.minusPrice" oninput="this.value = this.value.replace(/[^0-9.]/g, '')"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="정산금" prop="calculatePrice">
                            <el-input v-model="ruleForm.calculatePrice" oninput="this.value = this.value.replace(/[^0-9.]/g, '')"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item label="정산 상태" prop="calculateStatus">
                            <el-select v-model="ruleForm.calculateStatus" >
                                <el-option
                                    v-for="item in rules.calculateStatus"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="15">
                    <el-col :span="8">
                        <el-form-item>
                            <el-button type="primary" class="size-full" @click="doPutData()">저장</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
        </el-form>
        </div>
    </div>
</template>
<style>

.el-row {
    margin-bottom: 10px;
}
</style>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            detailInfo: null,
            ruleForm: {
                dateCreateYear: null,
                dateCreateMonth: null,
                totalPrice: '',
                minusPrice: '',
                calculatePrice: '',
                calculateStatus: ''
            },
            rules: {
                dateCreateYear: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                dateCreateMonth: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { validator: this.validateCreateMonth, trigger: 'blur' }
                ],
                totalPrice: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                minusPrice: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                calculatePrice: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                calculateStatus: [{
                    value: 'ING',
                    label: '정산중',
                    required: true, message: '이 값은 필수입니다.', trigger: 'blur'
                }, {
                    value: 'COMPLETE',
                    label: '정산완료',
                    required: true, message: '이 값은 필수입니다.', trigger: 'blur'
                },
                ]
            },
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$calculateHistoryConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.ruleForm.dateCreateYear = res.data.data.dateCreateYear
                    this.ruleForm.dateCreateMonth = res.data.data.dateCreateMonth
                    this.ruleForm.totalPrice = res.data.data.totalPrice
                    this.ruleForm.minusPrice = res.data.data.minusPrice
                    this.ruleForm.calculatePrice = res.data.data.calculatePrice
                    this.ruleForm.calculateStatus = res.data.data.calculateStatus
                    console.log(this.detailInfo)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        doPutData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                } else {
                    return false
                }
            })
        },
        putData() {
            let payload = {
                id : this.id,
                data: {
                    dateCreateYear: this.ruleForm.dateCreateYear,
                    dateCreateMonth: this.ruleForm.dateCreateMonth,
                    totalPrice: this.ruleForm.totalPrice,
                    minusPrice: this.ruleForm.minusPrice,
                    calculatePrice: this.ruleForm.calculatePrice,
                    calculateStatus: this.ruleForm.calculateStatus
                }
            }
            console.log(payload)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$calculateHistoryConstants.DO_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/home-menu/calculate/detail/${this.id}`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        validateCreateMonth(rule, value, callback) {
            if (parseFloat(value) > 12 || parseFloat(value) < 1) {
                callback(new Error('1월부터 12월까지 입력 가능합니다.'));
            } else {
                callback();
            }
        },

    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CALCULATE_DETAIL')
    },
}
</script>
